@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import "tailwindcss";

@theme {
  --font-serif: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  --color-ink: #1a1a1a;
  --color-paper: #fcfaf7;
}

body {
  background-color: var(--color-paper);
  color: var(--color-ink);
}

/* iOS Safe Area Support */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}

@utility no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}



